@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box; 
}

body{
  background-color: rgb(240,240,240)
}

.mask {
  height: 60px;
  background-image: url('../public/Mask.png');
  background-size: cover;
  height: 260px;
  width: 1440px auto;
  background-color: rgba(0,0,0,0.4);
  position: relative;
}

.blog-button{
  @apply bg-gradient-to-r from-orange-500 to-orange-400 text-white py-2 px-4 rounded-full hover:from-orange-600 hover:to-orange-500 cursor-pointer hover:shadow-inner;
}

